<%- include('./includes/header') %>
<script src="/socket.io/socket.io.js"></script>
<body>
    <div class="card border-secondary mb-3" style="height: 600px;">
        <div class="card-header">
            <div class="clearfix float">
                <div class="image-cropper">
                    <img src="/uploads/<%= recip.p1 %>" onerror="this.onerror=null; this.src='/img/image-not-available.jpg'" class="image-chat" width=100>
                </div>
                <h1 id="recipient"><%= recip.fname %></h1>
            </div>
        </div>
        <div class="card-body chat">
            <ul id="messages" style="height: 40px;"></ul>
        </div>
    </div>
    <form action="">
        <button class="btn btn-primary" style="float: right;"><i class="fas fa-paper-plane"></i></button>
        <div style="overflow: hidden; padding-right: .5em;">
            <input id="txt" autocomplete="off" class="form-control" type="text" style="width: 100%;" />
        </div>
    </form>
    <p id="username" style="visibility: hidden;"><%= user.fname %></p>
</body>
<script>
    $(function () {
        var socket = io();
        var user = document.querySelector("#username").innerHTML;
        var recip = document.querySelector("#recipient").innerHTML;

        // submit text message without reload/refresh the page
        $('form').submit(function (e) {
            e.preventDefault(); // prevents page reloading
            socket.emit('chat_message', $('#txt').val(), 'username', user);
            $('#txt').val('');
            return false;
        });

        // append the chat text message
        socket.on('chat_message', function (msg, username, recipient) {
            if (username == user && recipient == recip) {
                $('#messages').append($('<li class="me">').html(msg));
            }
            else if (username == recip && recipient == user) {
                $('#messages').append($('<li class="you">').html(msg));
            }
        });

        // append text if someone is online
        socket.on('is_online', function (username) {
            if (username == user && recipient == user) {
                $('#messages').prepend($('<li>').html(username));
            }
        });

        // ask username
        socket.emit('username', user);
        socket.emit('recipient', recip)
    });
</script>