<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body jumbotron">
            <h1 class="text-center mb-3">Reset your password</h1>
            <%- include('./partials/messages') %>
            <form action="/users/reset" method="POST">
                <div class="form-group">
                    <label for="pwd">New Password</label>
                    <input type="password" id="pwd" name="pwd" class="form-control" placeholder="Enter New Password" />
                </div>
                <div class="form-group">
                    <label for="pwd2">Confirm New Password</label>
                    <input type="password" id="pwd2" name="pwd2" class="form-control" placeholder="Confirm New Password" />
                </div>
                <input type="hidden" id="username" name="username" value="<%= username %>">
                <button type="submit" class="btn btn-primary btn-block">Send</button>
            </form>
        </div>
    </div>
</div>