* {
    font-family: "Helvetica Neue";
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.f-image {
    width: 40px;
}

.preview-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2px solid #EB6864;
}

.row {
    display: flex;
}

.column {
    padding: 10px;
    flex: 50%;
}

.column-explore2 {
    padding: 10px;
    flex: 80%;
}

.column-explore1 {
    padding: 10px;
    flex: 15%;
}

.file-input {
    width: 80%;
}

/* .image-cropper {
    height: 120px;
    width: 90px;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
} */

/* .images {
    height: 100%;
    margin: 0 auto;
    width: 100%;
} */

.images {
    width: 90px;
    height: 120px;
    object-fit: cover;
    border-radius: 5%;
}

.images-explore {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5%;
}

#pimg {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.arrow-left, .arrow-right {
    margin-top: 5px;
    color: #EB6864;
}

.arrow-right {
    float: right;
}

.arrow-left {
    float: left;
}

.index-page {
    display: inline-block;
    font-size: 20px;
    color: #EB6864;
}

.container-page {
    text-align: center;
    padding: 0px 0px 10px 0px;
    background-color: rgba(0,0,0,0.07);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.active-page {
    color: #d6433e;
    text-decoration: underline;
}

.button-cont {
    text-align: center;
}

.edit {
    width: 100px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column-pics {
  float: left;
  width: 20%;
  padding: 5px;
}

/* Clear floats after image containers */
.row-pics::after {
  content: "";
  clear: both;
  display: table;
}

input[type="file"] {
    display: none;
}
#input1, #input2, #input3, #input4, #input5 {
    border-radius: 20px;
    display: inline-block;
    padding: 1px 6px;
    cursor: pointer;
}

.save {
    margin-top: 20px;
    margin-bottom: -20px;
}

.image-btn-cont {
  position: relative;
  width: 100%;
}

.pen-photo {
  position: absolute;
  top: 20px;
  left: 20px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #EB6864;
  font-size: 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pen-info {
  position: absolute;
  top: 20px;
  right: -2px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #EB6864;
  font-size: 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.header {
    margin-bottom: 20px;
}

.remove { 
    position: absolute;
    background-color: #EB6864;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
}

.button-cont {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded {
    border-radius: 5px;
}